@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

body {
    @include text;
    color: #535656;
    }

    a {
        text-decoration: none;
    }

    ul, ol {
        list-style-type: none;
    }

main {
    background-color: var(--clr-bg);
}

footer {
    background-color: var(--clr-bg);
}