$Gray100: #f3f6ff;
$Gray300: #e2e5f1;
$Gray500: #b4b7c9;
$Gray600: #9397ad;
$Gray700: #565973;
$Gray800: #33354d;
$Gray900: #0b0f19;
$White: #ffffff;
$SpWhite: #ffffff;
$Primary: #6366f2;
$Success: #21c45d;

$dm-label-dt: #565871;
$dm-label: #131023;
$GraySp-1: #585c7b;
$GraySp-2: #131022;
$GraySp-3: #9397ad;
$GraySp-4: #131022;
$GraySp-5: #0b0f19;
$GraySp-6: #565973;
$GraySp-7: #e2e5f1;
$GraySp-8: #585c7b;
$GraySp-9: #585c7b;
$GraySp-10: #565973;
$GraySp-11: #9397ad;
$bg: #ffffff;
$mb-faq-bg: #ffffff;

$fw-Regular: 400;
$fw-SemiBold: 600;
$fw-Bold: 700;
$fw-ExtraBold: 800;

$dropshadow-primary: 2px 5px 10px #0000002d;
$background-gradient: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%), $bg;