$Gray100-light: #f3f6ff;
$Gray100-light-active: hsl(225, 100%, 100%);
$Gray100-light-hover: hsl(225, 100%, 95%);
$Gray500-light: #b4b7c9;
$Gray600-light: #9397ad;
$Gray700-light: #565973;
$Gray800-light: #33354d;
$Gray900-light: #0b0f19;
$SpWhite-light: #ffffff;
$SpWhite-light-active: hsl(0, 0%, 100%);
$SpWhite-light-hover: hsl(0, 0%, 97%);
$dm-label-light: #131023;
$GraySp-2-light: #131022;
$GraySp-3-light: #9397ad;
$GraySp-4-light: #131022;
$GraySp-4-light-active: hsl(250, 36%, 13%);
$GraySp-4-light-hover: hsl(250, 36%, 7%);
$GraySp-5-light: #0b0f19;
$GraySp-5-light-active: hsl(223, 39%, 10%);
$GraySp-5-light-hover: hsl(223, 39%, 4%);
$GraySp-7-light: #e2e5f1;
$GraySp-8-light: #585c7b;
$GraySp-9-light: #585c7b;
$GraySp-10-light: #565973;
$bg-light: #ffffff;
$mb-faq-bg-light: #ffffff;

$Gray100-dark: #ffffff0a;
$Gray100-dark-active: hsla(0, 0%, 100%, 0.039);
$Gray100-dark-hover: hsla(0, 0%, 97%, 0.039);
$Gray500-dark: #ffffff66;
$Gray600-dark: #ffffff80;
$Gray700-dark: #ffffff;
$Gray800-dark: #ffffffd9;
$Gray900-dark: #ffffff;
$SpWhite-dark: #ffffff0a;
$SpWhite-dark-active: hsla(0, 0%, 100%, 0.039);
$SpWhite-dark-hover: hsla(0, 0%, 97%, 0.039);
$dm-label-dark: #565973;
$GraySp-2-dark: #ffffff;
$GraySp-3-dark: #ffffff80;
$GraySp-4-dark: #eff2fC;
$GraySp-4-dark-active: hsl(226, 68%, 99%);
$GraySp-4-dark-hover: hsl(226, 68%, 93%);
$GraySp-5-dark: #f3f6ff;
$GraySp-5-dark-active: hsl(225, 100%, 100%);
$GraySp-5-dark-hover: hsl(225, 100%, 95%);
$GraySp-7-dark: #ffffff26;
$GraySp-8-dark: #ffffff;
$GraySp-9-dark: #ffffffb3;
$GraySp-10-dark: #ffffffb3;
$bg-dark: #0B0f19;
$mb-faq-bg-dark: #131022;

$Gray100: #f3f6ff;
$Gray300: #e2e5f1;
$Gray500: #b4b7c9;
$Gray600: #9397ad;
$Gray700: #565973;
$Gray800: #33354d;
$Gray900: #0b0f19;
$White: #ffffff;
$SpWhite: #ffffff;
$Primary: #6366f2;
$Success: #21c45d;

$dm-label-dt: #565871;
$dm-label: #131023;
$GraySp-1: #585c7b;
$GraySp-2: #131022;
$GraySp-3: #9397ad;
$GraySp-4: #131022;
$GraySp-5: #0b0f19;
$GraySp-6: #565973;
$GraySp-7: #e2e5f1;
$GraySp-8: #585c7b;
$GraySp-9: #585c7b;
$GraySp-10: #565973;
$GraySp-11: #9397ad;
$bg: #ffffff;
$mb-faq-bg: #ffffff;

$fw-Regular: 400;
$fw-SemiBold: 600;
$fw-Bold: 700;
$fw-ExtraBold: 800;

$dropshadow-primary: 2px 5px 10px #0000002d;