@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --clr-Gray100: #f3f6ff;
  --clr-Gray100-active: hsl(225, 100%, 100%);
  --clr-Gray100-hover: hsl(225, 100%, 95%);
  --clr-Gray500: #b4b7c9;
  --clr-Gray600: #9397ad;
  --clr-Gray700: #565973;
  --clr-Gray800: #33354d;
  --clr-Gray900: #0b0f19;
  --clr-SpWhite: #ffffff;
  --clr-SpWhite-active: hsl(0, 0%, 100%);
  --clr-SpWhite-hover: hsl(0, 0%, 97%);
  --clr-dm-label: #131023;
  --clr-GraySp-2: #131022;
  --clr-GraySp-3: #9397ad;
  --clr-GraySp-4: #131022;
  --clr-GraySp-4-active: hsl(250, 36%, 13%);
  --clr-GraySp-4-hover: hsl(250, 36%, 7%);
  --clr-GraySp-5: #0b0f19;
  --clr-GraySp-5-active: hsl(223, 39%, 10%);
  --clr-GraySp-5-hover: hsl(223, 39%, 4%);
  --clr-GraySp-7: #e2e5f1;
  --clr-GraySp-8: #585c7b;
  --clr-GraySp-9: #585c7b;
  --clr-GraySp-10: #565973;
  --clr-bg: #ffffff;
  --clr-mb-faq-bg: #ffffff;
}

:root.dark {
  color-scheme: dark;
  --clr-Gray100: rgba(255, 255, 255, 0.0392156863);
  --clr-Gray100-active: hsla(0, 0%, 100%, 0.039);
  --clr-Gray100-hover: hsla(0, 0%, 97%, 0.039);
  --clr-Gray500: rgba(255, 255, 255, 0.4);
  --clr-Gray600: rgba(255, 255, 255, 0.5019607843);
  --clr-Gray700: #ffffff;
  --clr-Gray800: rgba(255, 255, 255, 0.8509803922);
  --clr-Gray900: #ffffff;
  --clr-SpWhite: rgba(255, 255, 255, 0.0392156863);
  --clr-SpWhite-active: hsla(0, 0%, 100%, 0.039);
  --clr-SpWhite-hover: hsla(0, 0%, 97%, 0.039);
  --clr-dm-label: #565973;
  --clr-GraySp-2: #ffffff;
  --clr-GraySp-3: rgba(255, 255, 255, 0.5019607843);
  --clr-GraySp-4: #eff2fC;
  --clr-GraySp-4-active: hsl(226, 68%, 99%);
  --clr-GraySp-4-hover: hsl(226, 68%, 93%);
  --clr-GraySp-5: #f3f6ff;
  --clr-GraySp-5-active: hsl(225, 100%, 100%);
  --clr-GraySp-5-hover: hsl(225, 100%, 95%);
  --clr-GraySp-7: rgba(255, 255, 255, 0.1490196078);
  --clr-GraySp-8: #ffffff;
  --clr-GraySp-9: rgba(255, 255, 255, 0.7019607843);
  --clr-GraySp-10: rgba(255, 255, 255, 0.7019607843);
  --clr-bg: #0B0f19;
  --clr-mb-faq-bg: #131022;
}
:root.dark .silicon-icon {
  content: url(images/dm-Silicon-logotype.svg);
}
:root.dark .appstore-icon {
  content: url(images/dm-appstore.svg);
}
:root.dark .googleplay-icon {
  content: url(images/dm-googleplay.svg);
}
:root.dark .show-more-icon {
  content: url(images/dm-show-more-icon.svg);
}
:root.dark .next-icon {
  content: url(images/dm-next-btn.svg);
}
:root.dark .mobile-icon {
  content: url(images/dm-mobile-menu-button.svg);
}

.d-inline-block {
  display: inline-block;
}

.center-text {
  text-align: center;
}

.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

.d-flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
}

.br-05 {
  border-radius: 0.5em;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-15 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.w-auto {
  width: auto;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.bg-white {
  background-color: var(--clr-SpWhite);
}

.dropshadow {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1764705882);
}

.border-contact {
  border: 1px solid var(--clr-GraySp-7);
  padding: 1.5rem;
  width: 12.25rem;
  height: fit-content;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Manrope", system-ui;
  font-style: normal;
  color: #535656;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

main {
  background-color: var(--clr-bg);
}

footer {
  background-color: var(--clr-bg);
}

.container {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}
@media (width >= 768px) {
  .container {
    max-width: 720px;
  }
}
@media (width >= 1400px) {
  .container {
    max-width: 1320px;
  }
}

h1, h2, h3, h4, h5 {
  color: var(--clr-GraySp-2);
  font-weight: 800;
}

h1 {
  font-size: 2.125rem;
}
@media (width >= 768px) {
  h1 {
    font-size: 2.75rem;
  }
}
@media (width >= 1400px) {
  h1 {
    color: var(--clr-Gray900);
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.75rem;
}
@media (width >= 768px) {
  h2 {
    font-size: 2.125rem;
  }
}
@media (width >= 1400px) {
  h2 {
    color: var(--clr-Gray900);
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
}
@media (width >= 768px) {
  h3 {
    color: var(--clr-Gray900);
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.35rem;
}
@media (width >= 768px) {
  h4 {
    font-size: 1.42rem;
  }
}
@media (width >= 1400px) {
  h4 {
    color: var(--clr-Gray900);
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}
@media (width >= 1400px) {
  h5 {
    color: var(--clr-Gray900);
  }
}

.fs-1 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  color: #9397ad;
}
@media (width >= 1400px) {
  .fs-1 {
    color: var(--clr-GraySp-3);
  }
}

.fs-2 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--clr-GraySp-9);
  line-height: 1.5;
}
@media (width >= 768px) {
  .fs-2 {
    color: var(--clr-GraySp-10);
  }
}

.fs-3 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  color: #565973;
}
@media (width >= 1400px) {
  .fs-3 {
    color: var(--clr-GraySp-10);
  }
}

.fs-4 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--clr-GraySp-9);
}

.fs-5 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
}

.fs-6 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  color: #6366f2;
}
.fs-6:hover {
  color: #5558f1;
}
.fs-6:active {
  color: #7174f3;
}

.fs-7 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  color: #21c45d;
}
.fs-7:hover {
  color: #1fb757;
}
.fs-7:active {
  color: #23d163;
}

.fs-8 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  color: #585c7b;
}
@media (width >= 1400px) {
  .fs-8 {
    color: var(--clr-Gray700);
  }
}

.fs-9 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  color: #585c7b;
}
@media (width >= 1400px) {
  .fs-9 {
    color: var(--clr-GraySp-10);
  }
}

.fs-10 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-GraySp-9);
}
@media (width >= 1400px) {
  .fs-10 {
    color: var(--clr-GraySp-10);
  }
}

.fs-11 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-GraySp-2);
}
@media (width >= 768px) {
  .fs-11 {
    color: var(--clr-Gray900);
  }
}

.fs-12 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-dm-label);
}
@media (width >= 1400px) {
  .fs-12 {
    color: #565871;
  }
}

.fs-13 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-Gray800);
}
.fs-13:hover {
  color: #6366f2;
}

.fs-14 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-Gray900);
}

.fs-15 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--clr-GraySp-10);
}

.fs-16 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--clr-GraySp-9);
}
@media (width >= 1400px) {
  .fs-16 {
    color: var(--clr-Gray600);
  }
}

.fs-17 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 400;
  color: #585c7b;
}
@media (width >= 768px) {
  .fs-17 {
    color: #565973;
  }
}
@media (width >= 1400px) {
  .fs-17 {
    color: var(--clr-GraySp-10);
  }
}

.fs-18 {
  font-family: "Manrope", system-ui;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--clr-GraySp-8);
}
@media (width >= 768px) {
  .fs-18 {
    color: #585c7b;
  }
}
@media (width >= 1400px) {
  .fs-18 {
    color: var(--clr-GraySp-10);
  }
}

.silicon-icon {
  height: 2.75em;
}

.mobile-icon {
  height: 2.25em;
}

.sign-in-icon {
  eight: 1.125em;
}

.learn-more-icon {
  height: 1.25em;
}

.quotation-icon {
  height: 1.25em;
}

.stars-rating {
  height: 1em;
}

.reviewer-avatar {
  height: 3em;
}

.show-more-icon {
  height: 1.25em;
}

.show-less-icon {
  height: 1.25em;
}

.contact-phone-icon {
  height: 1.75em;
}

.contact-text-icon {
  height: 1.75em;
}

.newsletter-bell-icon {
  height: 4.875em;
}

.newsletter-icon {
  height: 1.25em;
}

.next-icon {
  height: 0.375em;
}
@media (width >= 1400px) {
  .next-icon {
    height: 0.5em;
  }
}

.appstore-icon {
  height: 2.125em;
}
@media (width >= 768px) {
  .appstore-icon {
    width: 92px;
  }
}
@media (width >= 1400px) {
  .appstore-icon {
    width: 8.5em;
  }
}

.googleplay-icon {
  height: 2.125em;
}
@media (width >= 768px) {
  .googleplay-icon {
    width: 92px;
  }
}
@media (width >= 1400px) {
  .googleplay-icon {
    width: 8.5em;
  }
}

header {
  background: var(--background-gradient);
}

.btn-primary {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6366f2;
  border-radius: 0.25em;
  padding: 0.5em 1.5625em;
}
.btn-primary:hover {
  background-color: #5558f1;
}
.btn-primary:active {
  background-color: #7174f3;
}

.btn-burger {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
}
@media (width >= 1400px) {
  .btn-burger {
    display: none;
  }
}

.btn-contact {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
}

.btn-app {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: var(--clr-GraySp-4);
  border-radius: 0.5em;
  padding: 0.5em 1.5625em;
  z-index: 1;
}
.btn-app:hover {
  background-color: var(--clr-GraySp-4-hover);
}
@media (width >= 1400px) {
  .btn-app:hover {
    background-color: var(--clr-GraySp-5-hover);
  }
}
.btn-app:active {
  background-color: var(--clr-GraySp-4-active);
}
@media (width >= 1400px) {
  .btn-app:active {
    background-color: var(--clr-GraySp-5-active);
  }
}

.btn-submit {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  background-color: #6366f2;
  color: #ffffff;
  padding: 1em;
  border-radius: 0 0.5em 0.5em 0;
  font-size: 1rem;
  border: 1px solid #6366f2;
}
.btn-submit:hover {
  background-color: #5558f1;
}
.btn-submit:active {
  background-color: #7174f3;
}

.btn-discover {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  width: 2.75rem;
  background-color: var(--clr-SpWhite);
}
.btn-discover:hover {
  background-color: var(--clr-SpWhite-hover);
}
.btn-discover:active {
  background-color: var(--clr-SpWhite-active);
}

.btn-open {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  width: 2.25rem;
  background-color: var(--clr-Gray100);
}
.btn-open:hover {
  background-color: var(--clr-Gray100-hover);
}
.btn-open:active {
  background-color: var(--clr-Gray100-active);
}

.btn-close {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  width: 2.25rem;
  background-color: #6366f2;
}
.btn-close:hover {
  background-color: #5558f1;
}
.btn-close:active {
  background-color: #7174f3;
}

.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.btn-toggle-switch .label {
  display: none;
}
@media (width >= 768px) {
  .btn-toggle-switch .label {
    display: block;
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}
.toggle-switch input {
  opacity: 0;
}
.toggle-switch input:checked + .slider {
  background-color: #6366f2;
}
.toggle-switch input:focus + .slider {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1764705882);
}
.toggle-switch input:checked + .slider::before {
  transform: translateX(18px);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1764705882);
}
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9397ad;
  transition: 0.2s;
}
.toggle-switch .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: 2.5px;
  left: 3px;
  background-color: #ffffff;
}
.toggle-switch .slider.round {
  border-radius: 35px;
}
.toggle-switch .slider.round::before {
  border-radius: 50%;
}

.features {
  display: none;
}
@media (width >= 1400px) {
  .features {
    display: block;
  }
}

.sign-in {
  display: none;
}
@media (width >= 1400px) {
  .sign-in {
    display: flex;
  }
}

nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  gap: 1.5rem;
  padding-block: 1rem;
}
@media (width >= 768px) {
  nav {
    gap: 3.7rem;
  }
}
@media (width >= 1400px) {
  nav {
    grid-template-columns: auto 1fr auto auto;
    gap: 1.5rem;
    padding-block: 1rem;
  }
}

.s1-headline {
  grid-area: s1-headline;
}
@media (width >= 768px) {
  .s1-headline {
    padding-top: 2rem;
    max-width: 60%;
  }
}
@media (width >= 1400px) {
  .s1-headline {
    padding-top: 3rem;
    max-width: 650px;
  }
  .s1-headline h1 {
    text-align: left;
    width: 80%;
  }
}

.paragraph {
  grid-area: paragraph;
}
@media (width >= 768px) {
  .paragraph {
    text-align: left;
    width: 80%;
  }
}
@media (width >= 1400px) {
  .paragraph {
    width: 70%;
  }
}

.app-buttons {
  grid-area: app-buttons;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (width >= 768px) {
  .app-buttons {
    flex-direction: row;
  }
}

.discover-more {
  grid-area: discover-more;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (width >= 1400px) {
  .discover-more {
    align-self: end;
  }
}

.s1-content {
  grid-area: s1-content;
  display: grid;
  grid-template-areas: "paragraph" "app-buttons" "discover-more";
  gap: 3rem;
}
@media (width >= 768px) {
  .s1-content {
    padding-top: 80px;
    max-width: 650px;
    padding-bottom: 3rem;
    gap: 2.2rem;
    justify-items: left;
  }
}
@media (width >= 1400px) {
  .s1-content {
    max-width: 650px;
    padding-top: 0;
    gap: 2.5rem;
    grid-template-rows: auto auto 1fr;
  }
}

.s1-images {
  grid-area: s1-images;
  display: none;
  position: relative;
  min-height: 420px;
}
@media (width >= 768px) {
  .s1-images {
    display: block;
  }
  .s1-images .phone-shadow {
    height: 350px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0;
    right: -45px;
    z-index: 0;
  }
  .s1-images .phone-behind {
    height: 335px;
    width: 242px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0;
    right: -58px;
    z-index: 0;
  }
  .s1-images .phone-front {
    height: 420px;
    width: 242px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0;
    right: -197px;
    z-index: 0;
  }
}
@media (width >= 1400px) {
  .s1-images {
    min-height: 680px;
  }
  .s1-images .phone-shadow {
    height: auto;
    right: 75px;
  }
  .s1-images .phone-behind {
    height: 548px;
    width: 402px;
    right: -85px;
  }
  .s1-images .phone-front {
    width: 402px;
    height: 688px;
    right: -315px;
  }
}

#hero {
  background: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%), var(--clr-bg);
}

.section-1 {
  display: grid;
  grid-template-areas: "s1-headline" "s1-content";
  gap: 2.5rem;
  padding-bottom: 3rem;
}
@media (width >= 768px) {
  .section-1 {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "s1-headline s1-headline" "s1-content s1-images";
    padding-bottom: 0;
  }
}
@media (width >= 1400px) {
  .section-1 {
    gap: 0.5rem;
    padding-top: 112px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "s1-headline s1-images" "s1-content s1-images";
    padding-bottom: 0;
    place-items: left;
  }
}

.border-logoipsum {
  border: 1px solid var(--clr-GraySp-7);
  display: grid;
  place-items: center;
  width: 158px;
  height: 98px;
  border-radius: 0.5rem;
}
@media (width >= 1400px) {
  .border-logoipsum {
    width: 196px;
    height: 100px;
  }
}

.brand-5, .brand-6 {
  display: none;
}
@media (width >= 1400px) {
  .brand-5, .brand-6 {
    display: grid;
  }
}

.brands {
  display: none;
  padding-top: 3rem;
  padding-bottom: 4rem;
  justify-content: space-between;
}
@media (width >= 768px) {
  .brands {
    display: flex;
  }
}
@media (width >= 1400px) {
  .brands {
    padding-block: 6rem;
  }
}

.section-2-image {
  display: none;
}
@media (width >= 1400px) {
  .section-2-image {
    display: block;
  }
}

.features-card-header {
  grid-area: features-card-header;
  text-align: center;
}
@media (width >= 1400px) {
  .features-card-header {
    text-align: left;
  }
}

.s2-content-icon {
  grid-area: s2-content-icon;
}

.s2-content-header {
  grid-area: s2-content-header;
}

.s2-content-text {
  grid-area: s2-content-text;
}

.features-card-content-1 {
  grid-area: features-card-content-1;
}

.features-card-content-2 {
  grid-area: features-card-content-2;
}

.features-card-content-3 {
  grid-area: features-card-content-3;
}

.features-card-content-4 {
  grid-area: features-card-content-4;
}

.features-card-content-5 {
  grid-area: features-card-content-5;
}

.features-card-content-6 {
  grid-area: features-card-content-6;
}

.features-card-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-areas: "s2-content-icon s2-content-header" "s2-content-icon s2-content-text";
}
@media (width >= 1400px) {
  .features-card-content {
    row-gap: 0rem;
  }
}

.features-card {
  display: grid;
  gap: 2.5rem;
  grid-template-areas: "features-card-header" "features-card-content-1" "features-card-content-2" "features-card-content-3" "features-card-content-4" "features-card-content-5" "features-card-content-6";
}
@media (width >= 768px) {
  .features-card {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "features-card-header features-card-header" "features-card-content-1 features-card-content-2" "features-card-content-3 features-card-content-4" "features-card-content-5 features-card-content-6";
  }
}
@media (width >= 1400px) {
  .features-card {
    gap: 3rem;
  }
}

.section-2-content {
  display: flex;
  gap: 10rem;
}

.section-2 {
  padding-block: 2.6rem;
}
@media (width >= 768px) {
  .section-2 {
    padding-top: 0;
  }
}

.section-3-images-mobile {
  display: flex;
  justify-content: center;
}
@media (width >= 768px) {
  .section-3-images-mobile {
    display: none;
  }
}

.section-3-images-tablet {
  display: none;
}
@media (width >= 768px) {
  .section-3-images-tablet {
    display: flex;
    justify-content: center;
  }
}
@media (width >= 1400px) {
  .section-3-images-tablet {
    display: none;
  }
}

.section-3-images-desktop {
  display: none;
}
@media (width >= 1400px) {
  .section-3-images-desktop {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
}

@media (width >= 768px) {
  .section-3-text-mobile {
    display: none;
  }
}

.section-3-text-tablet {
  display: none;
}
@media (width >= 768px) {
  .section-3-text-tablet {
    display: block;
  }
}
@media (width >= 1400px) {
  .section-3-text-tablet {
    display: none;
  }
}

.section-3-text-desktop {
  display: none;
}
@media (width >= 1400px) {
  .section-3-text-desktop {
    display: block;
  }
}

#section-3 {
  background-color: var(--clr-Gray100);
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding-top: 4.5rem;
  padding-bottom: 3.75rem;
}
@media (width >= 768px) {
  .section-3 {
    padding-bottom: 4.5rem;
  }
}

.section-4-top-left-card {
  display: flex;
  flex-direction: column;
}

.section-4-bottom-right-header {
  grid-area: section-4-bottom-right-header;
}

.section-4-bottom-right-text-left {
  grid-area: section-4-bottom-right-text-left;
}

.section-4-bottom-right-text-right {
  grid-area: section-4-bottom-right-text-right;
}

.section-4-bottom-right-button {
  grid-area: section-4-bottom-right-button;
}

.section-4-bottom-right-card {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "section-4-bottom-right-header section-4-bottom-right-header" "section-4-bottom-right-text-left section-4-bottom-right-text-right" "section-4-bottom-right-button section-4-bottom-right-button";
}

.section-4 {
  display: none;
}
@media (width >= 1400px) {
  .section-4 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 7.6rem;
  }
}

.albert-avatar {
  grid-area: albert-avatar;
}

.albert-name {
  grid-area: albert-name;
}

.albert-title {
  grid-area: albert-title;
}

.fannie-avatar {
  grid-area: fannie-avatar;
}

.fannie-name {
  grid-area: fannie-name;
}

.fannie-title {
  grid-area: fannie-title;
}

.fannie {
  display: grid;
  column-gap: 1em;
  grid-template-columns: auto 1fr;
  grid-template-areas: "fannie-avatar fannie-name" "fannie-avatar fannie-title";
}

.albert {
  display: grid;
  column-gap: 1em;
  grid-template-columns: auto 1fr;
  grid-template-areas: "albert-avatar albert-name" "albert-avatar albert-title";
}

.review-card {
  width: 416px;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 24px;
  padding-bottom: 24px;
  padding-top: 48px;
  padding-inline: 24px;
  flex-direction: column;
  border-radius: 0.5em;
}

.quotation-mark {
  z-index: 1;
  display: grid;
  place-items: center;
  width: 2.75em;
  aspect-ratio: 1;
  background-color: #6366f2;
  border-radius: 0.375em;
}

.review-container {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 1.75rem 1rem minmax(19.5rem, auto);
}

#quotation-left {
  grid-column: 2;
  grid-row: 1/2;
}

#card-left {
  grid-column: 1/2;
  grid-row: 2/3;
}

#quotation-right {
  grid-column: 2;
  grid-row: 1/2;
}

#card-right {
  grid-column: 1/2;
  grid-row: 2/3;
}

#section-5 {
  background-color: var(--clr-Gray100);
}

.section-5 {
  display: none;
}
@media (width >= 1400px) {
  .section-5 {
    padding-inline: 0.75rem;
    padding-block: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.p6-header {
  grid-area: p6-header;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
}
@media (width >= 768px) {
  .p6-header h3 {
    width: 65%;
  }
  .p6-header p {
    width: 70%;
  }
}
@media (width >= 1400px) {
  .p6-header {
    text-align: left;
  }
  .p6-header h3 {
    width: 100%;
  }
  .p6-header p {
    width: 100%;
  }
}

@media (width >= 768px) {
  .border-faq {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    display: flex;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1764705882);
  }
}
@media (width >= 768px) and (width >= 768px) {
  .border-faq {
    background-color: var(--clr-SpWhite);
  }
}
@media (width < 768px) {
  .border-faq-cont {
    border: 1px solid var(--clr-GraySp-7);
    padding-inline: 1.5rem;
    background-color: var(--clr-mb-faq-bg);
  }
}
.p6-faq-cont {
  grid-area: p6-faq-cont;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
}
.p6-faq-cont .faq-1-closed {
  display: none;
}
.p6-faq-cont .faq-3-opened {
  display: none;
}
@media (width >= 768px) {
  .p6-faq-cont {
    gap: 1rem;
  }
  .p6-faq-cont .faq-1-closed {
    display: flex;
  }
  .p6-faq-cont .faq-1-opened {
    display: none;
  }
  .p6-faq-cont .faq-3-closed {
    display: none;
  }
  .p6-faq-cont .faq-3-opened {
    display: flex;
  }
}
@media (width >= 1400px) {
  .p6-faq-cont {
    gap: 1rem;
  }
}

.faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-open {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (width < 768px) {
  .faq-1-opened {
    padding-block: 1rem;
  }
  .faq-divider-top {
    border-radius: 0;
    border-top: 1px solid var(--clr-GraySp-7);
    padding-block: 1rem;
  }
}
.p6-contact {
  grid-area: p6-contact;
  display: flex;
  justify-content: center;
}
.p6-contact .contact-phone {
  display: none;
}
.p6-contact .contact-text {
  display: none;
}
.p6-contact .contact-mobile {
  display: flex;
}
@media (width >= 768px) {
  .p6-contact {
    justify-content: flex-start;
    gap: 1rem;
  }
  .p6-contact .btn {
    padding-inline: 0;
  }
  .p6-contact .contact-phone {
    display: block;
  }
  .p6-contact .contact-text {
    display: block;
  }
  .p6-contact .contact-mobile {
    display: none;
  }
}

.border-contact {
  width: 100%;
}
@media (width >= 1400px) {
  .border-contact {
    width: 12.25rem;
  }
}

.newsletter-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.newsletter-text .newsletter-header {
  display: block;
}
.newsletter-text .newsletter-header-desktop {
  display: none;
}
@media (width >= 1400px) {
  .newsletter-text .newsletter-header {
    display: none;
  }
  .newsletter-text .newsletter-header-desktop {
    display: block;
  }
}

.form-label {
  display: none;
  margin-bottom: 0.2rem;
}

.form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.newsletter-icon {
  position: absolute;
  left: 0.8em;
  top: 50%;
  transform: translateY(-50%);
}

.form-input {
  width: 100%;
  background-color: #ffffff;
  font-size: 1rem;
  color: var(--clr-Gray500);
  font-weight: 400;
  padding: 1em;
  padding-left: 2.8em;
  border-radius: 0.5em 0 0 0.5em;
  border: 1px solid #aeaeae;
}
.form-input::placeholder {
  color: var(--clr-Gray500);
}
.form-input:focus {
  outline: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1764705882);
}
.form-input:focus ~ .btn-submit {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1764705882);
}
@media (width >= 1400px) {
  .form-input {
    background-color: var(--clr-SpWhite);
  }
}

.newsletter {
  background-color: var(--clr-Gray100);
  grid-area: newsletter;
  display: grid;
  align-items: center;
  grid-template-rows: auto auto;
  gap: 2.4rem;
  padding-inline: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-radius: 0.5em;
}
@media (width >= 768px) {
  .newsletter {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-inline: 1.5rem;
    padding-block: 4.5rem;
    gap: 0;
  }
}
@media (width >= 1400px) {
  .newsletter {
    gap: 3.2rem;
    margin-top: 4.25rem;
    padding-inline: 7rem;
  }
}

.section-6 {
  padding-top: 3.25rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: auto;
  grid-template-areas: "p6-header" "p6-faq-cont" "p6-contact" "newsletter";
}
@media (width >= 1400px) {
  .section-6 {
    padding-top: 8.25rem;
    display: grid;
    column-gap: 7rem;
    place-content: left;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "p6-header p6-faq-cont" "p6-contact p6-faq-cont" "newsletter newsletter";
  }
}

footer {
  background-color: var(--clr-bg);
}

.copyright {
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (width >= 768px) {
  .copyright {
    padding-bottom: 1.25rem;
    padding-top: 1.625rem;
  }
  .copyright .row-break {
    display: none;
  }
}
@media (width >= 1400px) {
  .copyright {
    padding-bottom: 3.5rem;
    padding-top: 3.75rem;
  }
}/*# sourceMappingURL=main.css.map */