@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --transition-time: all 0.2s;
    --container-padding: 1rem;

    /*Colors*/
    --clr-tabletGray: #131022;
    --clr-tabletLGray: #585C7B;
    --clr-Gray900: #0B0F19;
    --clr-Gray800: #33354D;
    --clr-Gray700: #565973;
    --clr-Gray600: #9397AD;
    --clr-Gray300: #E2E5F1;
    --clr-Gray100: #F3F6FF;
    --clr-White: hsl(0, 0%, 100%);
    --clr-Primary: hsl(239, 85%, 67%);
    --clr-Success: hsl(142, 71%, 45%);
    
    --background-gradient: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);

/*Font Weights*/
    --font-weight-Regular: 400;
    --font-weight-SemiBold: 600;
    --font-weight-Bold: 700;
    --font-weight-ExtraBold: 800;
}

/*Font styling*/
h1 {
    color: var(--clr-tabletGray);
    font-size: 2.125rem;
    font-weight: var(--font-weight-ExtraBold);

    @media (width >= 768px) {
        font-size: 2.75rem;
    }
    @media (width >= 1400px) {
        color: var(--clr-Gray900);
        font-size: 3.5rem;
    }
}
h2 {
    color: var(--clr-tabletGray);
    font-size: 1.75rem;
    font-weight: var(--font-weight-ExtraBold);

    @media (width >= 768px) {
        font-size: 2.125rem;
    }
    @media (width >= 1400px) {
        color: var(--clr-Gray900);
        font-size: 2.5rem;
    }
}
h3 {
    color: var(--clr-tabletGray);
    font-size: 1.5rem;
    font-weight: var(--font-weight-ExtraBold);

    @media (width >= 768px) {
        color: var(--clr-Gray900);
        font-size: 2rem;
    }
}
h4 {
    color: var(--clr-tabletGray);
    font-size: 1.35rem;
    font-weight: var(--font-weight-ExtraBold);

    @media (width >= 768px) {
        font-size: 1.42rem;
    }
    @media (width >= 1400px) {
        color: var(--clr-Gray900);
        font-size: 1.5rem;
    }
}
h5 {
    color: var(--clr-tabletGray);
    font-size: 1.25rem;
    font-weight: var(--font-weight-ExtraBold);

    @media (width >= 1400px) {
        color: var(--clr-Gray900);
    }
}
.fs-1 {
    color: var(--clr-Gray600);
    font-size: .875rem;
    font-weight: var(--font-weight-Regular);
}
.fs-2 {
    color: var(--clr-Gray900);
    font-size: 1rem;
    font-weight: var(--font-weight-Bold);
}
.fs-3 {
    color: var(--clr-tabletGray);
    font-size: 1rem;
    font-weight: var(--font-weight-SemiBold);

    @media (width >= 768px) {
        color: var(--clr-Gray900);
    }
}
.fs-4 {
    color: var(--clr-tabletLGray);
    font-size: 1.125rem;
    font-weight: var(--font-weight-Regular);

    @media (width >= 1400px) {
        color: var(--clr-Gray700);
    }
}
.fs-5 {
    color: var(--clr-tabletGray);
    font-size: 1rem;
    font-weight: var(--font-weight-SemiBold);

    @media (width >= 1400px) {
        color: var(--clr-Gray700)
    }
}
.fs-6 {
    color: var(--clr-Gray800);
    font-size: 1rem;
    font-weight: var(--font-weight-SemiBold);
}
.fs-7 {
    color: var(--clr-tabletLGray);
    font-size: .875rem;
    font-weight: var(--font-weight-Regular);

    @media (width >= 1400px) {
        color: var(--clr-Gray700)
    }
}
.fs-8 {
    color: var(--clr-tabletLGray);
    font-size: 1rem;
    font-weight: var(--font-weight-Regular);

    @media (width >= 1400px) {
        color: var(--clr-Gray700)
    }
}
.fs-9 {
    color: var(--clr-White);
    font-size: .875rem;
    font-weight: var(--font-weight-SemiBold);
}
.fs-10 {
    color: var(--clr-White);
    font-size: 1rem;
    font-weight: var(--font-weight-SemiBold);
}
.fs-11 {
    color: var(--clr-Primary);
    font-size: .875rem;
    font-weight: var(--font-weight-SemiBold);
}
.fs-12 {
    color: var(--clr-Success);
    font-size: .875rem;
    font-weight: var(--font-weight-SemiBold);
}
.fs-13 {
    color: var(--clr-tabletLGray);
    font-size: 1.125rem;
    font-weight: var(--font-weight-Regular);

    @media (width >= 1400px) {
        color: var(--clr-Gray600)
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

body {
    font-family: "Manrope", system-ui;
    font-style: normal;
    font-size: 1rem;
}

a {
    text-decoration: none;
    &:hover {
    }
}

/* Utility Classes */
.center-text {
text-align: center;
}
.mb-1 {
margin-bottom: 1rem;
}
.mb-2 {
margin-bottom: 2rem
}
.mb-3 {
margin-bottom: 3rem
}
.mb-4 {
margin-bottom: 4rem
}

/* Primary button */
.primary-btn-properties {
    background-color: transparent;
    border: none;
    padding: .75em 1.5625em;
    cursor: pointer;
}

.sign-in-btn {
    background-color: var(--clr-Primary);
    border-radius: .25em;
    padding: .75em 1.5625em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    &:hover {
        background-color: hsl(from var(--clr-Primary)h s calc( l - 3 ));
    }
    &:active {
        background-color: hsl(from var(--clr-Primary)h s calc( l + 3 ));
    }
}
.dl-app-btn {
    background-color: var(--clr-tabletGray);
    border-radius: .5em;
    padding: .75em 1.5625em;
    width: 100%;
    display: grid;
    place-content: center;
    
    &:hover {
        background-color: hsl(from var(--clr-tabletGray)h s calc( l - 3 ));
    }
    &:active {
        background-color: hsl(from var(--clr-tabletGray)h s calc( l + 3 ));
    }
}
/* Mobile button */
    .nav-mobile-btn {
        background-color: transparent;
        border: none;
    }
/* Round buttons */
.round-btn-properties {
    background-color: var(--clr-White);
    border-radius: 50%;
    display: grid;
    place-content: center;
    overflow: hidden;
    cursor: pointer;
    
    &:hover {
        background-color: hsl(from var(--clr-White)h s calc( l - 3 )) 
    }

    &:active {
        background-color: var(--clr-White);
    }
}
.round-btn-large {
    width: 2.75rem;
    height: 2.75rem;
}
.round-btn-small {
    width: 2.25rem;
    height: 2.25rem;
}

.container {
    width: 100%;
    padding-inline: var(--container-padding);
    margin-inline: auto;
}

/* Handle img scaling - Primarily used for buttonimages */
.silicon-icon {height: 2.75em;}
.mobile-icon {height: 2.25em;}
.sign-in-icon {height: 1.125em;}
.next-icon {height: .375em;

    @media (width >= 1400px) {
        height: .5em;
    }
}
.appstore-icon {width: 7.75em;

    @media (width >= 768px) {
        width: 92px;
    }
    @media (width >= 1400px) {
        width: 8.5em;
    }
}
.googleplay-icon {width: 7.75em;
    
    @media (width >= 768px) {
        width: 92px;
    }
    @media (width >= 1400px) {
        width: 8.5em;
    }
}


/* Navigation bar */
.nav-features {
    display: none;
}
/* Dark Mode Toggle Start - Kod efter Hans Tips & Trix video - Har skrivit om den något för att få mer enhetlig kod*/
.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: .75rem;
    
    .label {
        display: none;
    }
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    
    input {
        opacity: 0;

        &:checked + .slider {
            background-color: var(--clr-Primary);
        }

        &:focus + .slider {
            box-shadow: 0 0 1px var(--clr-Primary);
        }

        &:checked + .slider::before{
            transform: translateX(18px);
            background-color: var(--clr-White);
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--clr-Gray600);
        transition: var(--transition-time);

        &::before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            bottom: 2.5px;
            left: 3px;
            background-color: var(--clr-White);
        }
    }
    .slider.round {
        border-radius: 35px;

        &::before {
            border-radius: 50%;
        }
    }
}
/* Dark Mode Toggle End */
.nav-sign-in {
    display: none;
}

nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-block: var(--container-padding);
}

header {
    width: 100%;
    background: var(--background-gradient);
}

.page-1 {
    display: grid;
    grid-template-areas:
    "p1-headline"
    "p1-content";
    gap: 2.5rem;
    padding-bottom: 3rem;
}

.p1-headline {
    grid-area: p1-headline;
}

.p1-content {
    grid-area: p1-content;
    display: grid;
    grid-template-areas: 
    "p1-paragraph"
    "app-buttons"
    "discover-more";
    gap: 3rem;

    .p1-paragraph {
        grid-area: p1-paragraph;
    }

    .app-buttons {
        grid-area: app-buttons;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .discover-more {
        grid-area: discover-more;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.p1-images {
    grid-area: p1-images;
    display: none;
    position: relative;
    min-height: 420px;

    .phone-behind{
        height: 335px;
        aspect-ratio: 1;
        position: absolute;
        z-index: -10;
        bottom: 0;
        right: -105px;
    }
    .phone-front{
        height: 420px;
        width: 242px;
        aspect-ratio: 1;
        position: absolute;
        z-index: -5;
        bottom: 0;
        right: -197px;
    }
}

/*Tablet version*/
@media (width >= 768px) {
    .container {
        max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    nav {
        gap: 3.7rem;
    }

    .page-1 {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "p1-headline p1-headline"
        "p1-content p1-images";
        padding-bottom: 0;
    }

    .p1-headline {
        padding-top: 2rem;
        max-width: 60%;
    }
    
    .p1-content {
        padding-top: 80px;
        max-width: 650px;
        padding-bottom: 3rem;
        gap: 2.2rem;
        justify-items: left;

        .app-buttons{
            flex-direction: row;
        }
        .p1-paragraph {
            text-align: left;
            width: 80%;
        }
    }

    .p1-images {
        display: block;
    }
}

/*Desktop version*/
@media (width >= 1400px) {
    .container {
        max-width: 1320px;
    }

    .nav-features {
        display: block;
    }

    .nav-mobile-btn {
        display: none;
    }

    .nav-sign-in {
        display: flex;
    }

    nav {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto auto;
        gap: 1.5rem;
        padding-block: var(--container-padding);
    }

header {
    border-bottom: 1px solid black;
}
    .page-1 {
        gap: .5rem;
        padding-top: 112px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "p1-headline p1-images"
        "p1-content p1-images";
        padding-bottom: 0;
    }

    .p1-headline {
        padding-top: 3rem;
        max-width: 650px;

        h1{
            text-align: left;
            width: 80%;
        }
    }
    
    .p1-content {
        max-width: 650px;
        padding-top: 0;
        gap: 2.5rem;
        grid-template-rows: auto auto 1fr;

        .p1-paragraph {
            width: 70%;
        }
        .discover-more {
            align-self: end;
        }
    }

    .p1-images {
        min-height: 680px;

        .phone-behind{
            height: 548px;
            right: -160px;
        }
        .phone-front{
            width: 402px;
            height: 688px;
            right: -315px;
        }
    }
}