@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --transition-time: all 0.2s;
    --container-padding: 1rem;

    /*Colors*/
    --clr-tabletGray: #131022;
    --clr-tabletLGray: #585C7B;
    --clr-Gray900: #0B0F19;
    --clr-Gray800: #33354D;
    --clr-Gray700: #565973;
    --clr-Gray600: #9397AD;
    --clr-Gray500: #B4B7C9;
    --clr-Gray300: #E2E5F1;
    --clr-Gray100: #F3F6FF;
    --clr-White: hsl(0, 0%, 100%);
    --clr-Primary: hsl(239, 85%, 67%);
    --clr-Success: hsl(142, 71%, 45%);
    
    --clr-dm-label-dt: hsl(234, 14%, 39%);
    --clr-dm-label: hsl(250, 36%, 10%);
    
    --clr-SpWhite: hsl(0, 0%, 100%);
    --clr-GraySp-1: #585C7B;
    --clr-GraySp-2: #565973;
    --clr-GraySp-3: #565973;
    --clr-GraySp-4: #131022; /*dl-app*/
    --clr-GraySp-5: #0B0F19; /*dl-app-desktop*/
    --clr-GraySp-6: #565973;
    --clr-GraySp-7: #E2E5F1;
    --clr-GraySp-8: #585C7B;
    --clr-GraySp-9: #585C7B;
    --clr-GraySp-10: #565973;
    --clr-GraySp-11: #9397AD;
    --clr-GraySp-12: #9397AD;
    
    --clr-hero-bg: #FFFFFF;
    --clr-mb-faq-bg: #FFFFFF;
    
    --dropshadow-primary: 2px 5px 10px #0000002d;
    --background-gradient: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%), var(--clr-hero-bg);

/*Font Weights*/
    --font-weight-Regular: 400;
    --font-weight-SemiBold: 600;
    --font-weight-Bold: 700;
    --font-weight-ExtraBold: 800;
}

/*Font styling*/
h1 {color: var(--clr-tabletGray);font-size: 2.125rem;font-weight: var(--font-weight-ExtraBold);
    @media (width >= 768px) {font-size: 2.75rem;}
    @media (width >= 1400px) {color: var(--clr-Gray900);font-size: 3.5rem;}}
    
h2 {color: var(--clr-tabletGray);font-size: 1.75rem;font-weight: var(--font-weight-ExtraBold);
@media (width >= 768px) {font-size: 2.125rem;}
@media (width >= 1400px) {color: var(--clr-Gray900);font-size: 2.5rem;}}

h3 {color: var(--clr-tabletGray);font-size: 1.5rem;font-weight: var(--font-weight-ExtraBold);
@media (width >= 768px) {color: var(--clr-Gray900);font-size: 2rem;}}

h4 {color: var(--clr-tabletGray);font-size: 1.35rem;font-weight: var(--font-weight-ExtraBold);
@media (width >= 768px) {font-size: 1.42rem;}
@media (width >= 1400px) {color: var(--clr-Gray900);font-size: 1.5rem;}}

h5 {color: var(--clr-tabletGray);font-size: 1.25rem;font-weight: var(--font-weight-ExtraBold);
@media (width >= 1400px) {color: var(--clr-Gray900);}}

.fs-sp-1 {color: var(--clr-tabletLGray);font-size: 1.125rem;font-weight: var(--font-weight-Regular);
@media (width >= 768px) {color: var(--clr-GraySp-6);}
@media (width >= 1400px) {color: var(--clr-GraySp-10);}}

.fs-sp-2 {color: var(--clr-GraySp-6);font-size: .875rem;font-weight: var(--font-weight-Regular);
    @media (width >= 1400px) {color: var(--clr-GraySp-10);}}

.fs-sp-3 {color: var(--clr-GraySp-8);font-size: 1.125rem;font-weight: var(--font-weight-Regular);
    @media (width >= 768px) {color: var(--clr-GraySp-1);}
    @media (width >= 1400px) {color: var(--clr-GraySp-10);}}

.fs-sp-4 {color: var(--clr-GraySp-9);font-size: .875rem;font-weight: var(--font-weight-Regular);}

.fs-sp-5 {color: var(--clr-GraySp-9);font-size: 1rem;font-weight: var(--font-weight-Regular);
    @media (width >= 1400px) {color: var(--clr-GraySp-10);}}

.fs-sp-6 {color: var(--clr-tabletLGray);font-size: 1rem;font-weight: var(--font-weight-Regular);
    @media (width >= 1400px) {color: var(--clr-GraySp-10);}}

.fs-1 {color: var(--clr-GraySp-11);font-size: .875rem;font-weight: var(--font-weight-Regular);
    @media (width >= 1400px) {
        color: var(--clr-GraySp-12);}}

.fs-2 {color: var(--clr-Gray900);font-size: 1rem;font-weight: var(--font-weight-Bold);}

.fs-3 {color: var(--clr-tabletGray);font-size: 1rem;font-weight: var(--font-weight-SemiBold);
@media (width >= 768px) {color: var(--clr-Gray900);}}

.fs-4 {color: var(--clr-GraySp-10);font-size: 1.125rem;font-weight: var(--font-weight-Regular);}

.fs-5 {color: var(--clr-dm-label);font-size: 1rem;font-weight: var(--font-weight-SemiBold);
    @media (width >= 1400px) {color: var(--clr-dm-label-dt);}}

.fs-6 {color: var(--clr-Gray800);font-size: 1rem;font-weight: var(--font-weight-SemiBold);}

.fs-7 {color: var(--clr-GraySp-9);font-size: .875rem;font-weight: var(--font-weight-Regular);
    line-height: 1.5;
    @media (width >= 768px) {color: var(--clr-GraySp-10);}}

.fs-8 {color: var(--clr-tabletLGray);font-size: 1rem;font-weight: var(--font-weight-Regular);
    @media (width >= 1400px) {color: var(--clr-Gray700);}}

.fs-9 {color: var(--clr-White);font-size: .875rem;font-weight: var(--font-weight-SemiBold);}

.fs-11 {color: var(--clr-Primary);font-size: .875rem;font-weight: var(--font-weight-SemiBold);
    &:hover {
        color: hsl(from var(--clr-Primary)h s calc( l - 3 ));
    }
    &:active {
        color: hsl(from var(--clr-Primary)h s calc( l + 3 ));
    }
}

.fs-12 {color: var(--clr-Success);font-size: .875rem;font-weight: var(--font-weight-SemiBold);
    &:hover {
        color: hsl(from var(--clr-Success)h s calc( l - 3 ));
    }
    &:active {
        color: hsl(from var(--clr-Success)h s calc( l + 3 ));
    }}

.fs-13 {color: var(--clr-GraySp-9);font-size: 1.125rem;font-weight: var(--font-weight-Regular);
    @media (width >= 1400px) {color: var(--clr-Gray600);}}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /*Dark Mode functionality - Kod efter Joakims video Avancerad - Darkmode toggle*/
html {
    color-scheme: light;
}

.dark {
    color-scheme: dark;

    --clr-tabletGray: #FFFFFF;
    --clr-tabletLGray: #585C7B;
    --clr-Gray900: #FFFFFF;
    --clr-Gray800: #FFFFFFD9;
    --clr-Gray700: #FFFFFF;
    --clr-Gray600: #FFFFFF80;
    --clr-Gray500: #FFFFFF66;
    --clr-Gray300: #E2E5F1;
    --clr-Gray100: #FFFFFF0A;
    --clr-White: hsl(0, 0%, 100%);
    --clr-Primary: hsl(239, 85%, 67%);
    --clr-Success: hsl(142, 71%, 45%);
    --clr-dm-label-dt: hsl(234, 14%, 39%);
    --clr-dm-label: #565973;
    --clr-SpWhite: #FFFFFF0A;
    --clr-GraySp-1: #585C7B;
    --clr-GraySp-2: #565973;
    --clr-GraySp-3: #FFFFFF;
    --clr-GraySp-4: #EFF2FC; /*dl-app*/
    --clr-GraySp-5: #F3F6FF; /*dl-app-desktop*/
    --clr-GraySp-7: #FFFFFF26;
    --clr-GraySp-8: #FFFFFF;
    --clr-GraySp-9: #FFFFFFB3;
    --clr-GraySp-10: #FFFFFFB3;
    --clr-GraySp-12: #FFFFFF80;
    --clr-hero-bg: #0B0F19;
    --clr-mb-faq-bg: #131022;

    .silicon-icon {content: url('images/dm-Silicon-logotype.svg');}
    .appstore-icon {content: url('images/dm-appstore.svg');}
    .googleplay-icon {content: url('images/dm-googleplay.svg');}
    .show-more-icon {content: url('images/dm-show-more-icon.svg');}
    .next-icon {content: url('images/dm-next-btn.svg');}
}

body {
    font-family: "Manrope", system-ui;
    font-style: normal;
    font-size: 1rem;
    row-gap: 2.75rem;
    }

    a {
        text-decoration: none;
    }

/* Utility Classes */
.d-inline-block {display: inline-block;}
.center-text {text-align: center;}
.mx-auto {margin-inline: auto;}
.my-auto {margin-block: auto;}
.d-flex {display: flex;}
.flex-align {display: flex; align-items: center;}
.br-05 {border-radius: .5em;}
.gap-05 {gap: .5rem;}
.gap-1 {gap: 1rem;}
.gap-15 {gap: 1.5rem;}
.gap-2 {gap: 2rem;}
.mb-05 {margin-bottom: .5rem;}
.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem}
.mb-3 {margin-bottom: 3rem}
.mb-4 {margin-bottom: 4rem}
.w-auto {width: auto;}
.w-10 {width: 10%;}
.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-40 {width: 40%;}
.w-50 {width: 50%;}
.w-60 {width: 60%;}
.w-65 {width: 65%;}
.w-70 {width: 70%;}
.w-75 {width: 75%;}
.w-80 {width: 80%;}
.w-85 {width: 85%;}
.w-90 {width: 90%;}
.bg-white {background-color: var(--clr-SpWhite);}
.dropshadow{box-shadow: var(--dropshadow-primary);}
.border-contact {
    border: 1px solid var(--clr-GraySp-7);
    padding: 1.5rem;width: 12.25rem;height: fit-content;}
.border-logoipsum {display: grid;place-items: center;width: 158px;height: 98px;border: 1px solid var(--clr-GraySp-7);border-radius: 0.5rem;}
.list-reset {list-style-type: none;}

/* Primary button */
.btn-properties {
    background-color: transparent;
    border-radius: .25em;
    border: none;
    padding: .5em 1.5625em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--clr-Primary);
    text-decoration: none;
    
    &:hover {
        background-color: hsl(from var(--clr-Primary)h s calc( l - 3 ));
    }
    &:active {
        background-color: hsl(from var(--clr-Primary)h s calc( l + 3 ));
    }
}
.btn-dl-app {
    width: 100%;
    background-color: var(--clr-GraySp-4);
    border-radius: .5em;
    display: grid;
    place-content: center;
    z-index: 1;
    
    &:hover {
        background-color: hsl(from var(--clr-GraySp-4)h s calc( l - 3 ));
    }
    &:active {
        background-color: hsl(from var(--clr-GraySp-4)h s calc( l + 3 ));
    }

    @media ( width >= 1400px ) {
        background-color: var(--clr-GraySp-5);

        &:hover {
            background-color: hsl(from var(--clr-GraySp-5)h s calc( l - 3 ));
        }
        &:active {
            background-color: hsl(from var(--clr-GraySp-5)h s calc( l + 3 ));
        }
    }
}
.btn-submit {
    font-size: 1rem;
    color: var(--clr-White);
    font-weight: var(--font-weight-SemiBold);
    border-radius: 0 .5em .5em 0;
    padding: 1em;
    border: 1px solid var(--clr-Primary);
}

/* Mobile button */
    .nav-mobile-btn {
        background-color: transparent;
        border: none;
    }

/* Round buttons */
.round-btn-properties {
    border: 0;
    border-radius: 50%;
    display: grid;
    place-content: center;
    overflow: hidden;
    cursor: pointer;
}
.round-btn-large {
    width: 2.75rem;
    aspect-ratio: 1;
}
.round-btn-small {
    width: 2.25rem;
    aspect-ratio: 1;
}
.btn-discover-more {
    background-color: var(--clr-SpWhite);

    &:hover {
        background-color: hsl(from var(--clr-SpWhite)h s calc( l - 3 )) 
    }

    &:active {
        background-color: var(--clr-SpWhite);
    }
}
.btn-faq-open {
    background-color: var(--clr-Gray100);

    &:hover {
        background-color: hsl(from var(--clr-Gray100)h s calc( l - 3 )) 
    }

    &:active {
        background-color: var(--clr-Gray100);
    }
}
.btn-faq-close {
    background-color: var(--clr-Primary);

    &:hover {
        background-color: hsl(from var(--clr-Primary)h s calc( l - 3 )) 
    }

    &:active {
        background-color: var(--clr-Primary);
    }
}

.container {
    width: 100%;
    padding-inline: var(--container-padding);
    margin-inline: auto;
}

/* Handle img scaling - Primarily used for buttonimages */
.silicon-icon {
    height: 2.75em;
    content: url('images/Silicon-logotype.svg');
}
.mobile-icon {height: 2.25em;}
.sign-in-icon {height: 1.125em;}
.learn-more-icon {height: 1.25em;}
.quotation-icon {height: 1.25em;}
.stars-rating {height: 1em;}
.reviewer-avatar {height: 3em;}
.show-more-icon {height:1.25em;}
.show-less-icon {height:1.25em;}
.contact-phone-icon {height: 1.75em;}
.contact-text-icon {height: 1.75em;}
.newsletter-bell-icon {height: 4.875em;}
.newsletter-icon {height: 1.25em;}
.next-icon {height: .375em;
    @media (width >= 1400px) {height: .5em;}}
.appstore-icon {height: 2.125em;
    @media (width >= 768px) {width: 92px;}
    @media (width >= 1400px) {width: 8.5em;}}
.googleplay-icon {height: 2.125em;
    @media (width >= 768px) {width: 92px;}
    @media (width >= 1400px) {width: 8.5em;}}

header {
    background: var(--background-gradient);
}

/* Navigation bar */
.nav-features {
    display: none;
}

/* Dark Mode Toggle Start - Kod efter Hans Tips & Trix video - Har skrivit om den något för att få mer enhetlig kod*/
.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: .75rem;
    
    .label {
        display: none;
    }
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    
    input {
        opacity: 0;

        &:checked + .slider {
            background-color: var(--clr-Primary);
        }

        &:focus + .slider {
            box-shadow: var(--dropshadow-primary);
        }

        &:checked + .slider::before{
            transform: translateX(18px);
            box-shadow: var(--dropshadow-primary);
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--clr-Gray600);
        transition: var(--transition-time);

        &::before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            bottom: 2.5px;
            left: 3px;
            background-color: var(--clr-White);
        }
    }
    .slider.round {
        border-radius: 35px;

        &::before {
            border-radius: 50%;
        }
    }
}
/* Dark Mode Toggle End */

.nav-sign-in {
    display: none;
}

nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-block: var(--container-padding);
}

/* Page 1 */

.page-1 {
    display: grid;
    grid-template-areas:
    "p1-headline"
    "p1-content";
    gap: 2.5rem;
    padding-bottom: 3rem;
}

.p1-headline {grid-area: p1-headline;}

.p1-content {
    grid-area: p1-content;
    display: grid;
    grid-template-areas: 
    "p1-paragraph"
    "app-buttons"
    "discover-more";
    gap: 3rem;

    .p1-paragraph {grid-area: p1-paragraph;}

    .app-buttons {
        grid-area: app-buttons;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .discover-more {
        grid-area: discover-more;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.p1-images {
    grid-area: p1-images;
    display: none;
    position: relative;
    min-height: 420px;

    .phone-shadow {
        height: 350px;
        aspect-ratio: 1;
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: -45px;
    }
    .phone-behind{
        height: 335px;
        width: 242px;
        aspect-ratio: 1;
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: -58px;
    }
    .phone-front{
        height: 420px;
        width: 242px;
        aspect-ratio: 1;
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: -197px;
    }
}

main {
    background-color: var(--clr-hero-bg);
}

/* Page 2 */
.page-2 {
    padding-block: 2.6rem;
}
.p2-logos {
    padding-block: 4rem;
    display: none;
    justify-content: space-between;

    .logo-5 {
        display: none;
    }
    .logo-6 {
        display: none;
    }
}

.p2-phone {
    display: none;
}
.p2-app-features {
    display: grid;
    grid-template-areas:
    "app-features-header"
    "af-1"
    "af-2"
    "af-3"
    "af-4"
    "af-5"
    "af-6";
    gap: 2.5rem;

    .app-features-header {
        text-align: center;

        @media (width >= 1400px) {
            text-align: left;
        }
    }

    .af-icon {grid-area: af-icon;}
    .af-header {grid-area: af-header;}
    .af-text {grid-area: af-text;}
    .app-features-header {grid-area: app-features-header;}
    .af-1 {grid-area: af-1;}
    .af-2 {grid-area: af-2;}
    .af-3 {grid-area: af-3;}
    .af-4 {grid-area: af-4;}
    .af-5 {grid-area: af-5;}
    .af-6 {grid-area: af-6;}

    .app-features {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "af-icon af-header"
        "af-icon af-text";
    }
}

/* Page 3 */
#page-3 {
    background-color: var(--clr-Gray100);
}

.page-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    padding-top: 4.5rem;
    padding-bottom: 3.75rem;
}

.p3-img1 {grid-area: p3-img1;}
.p3-img2 {grid-area: p3-img2; display: none;}
.p3-img3 {grid-area: p3-img3; display: none;}
.p3-img4 {grid-area: p3-img4; display: none;}
.p3-img5 {grid-area: p3-img5; display: none;}
.p3-img6 {grid-area: p3-img6; display: none;}
.p3-img7 {grid-area: p3-img7; display: none;}
.p3-text {grid-area: p3-text;}

.p3-text-tablet {display: none;}
.p3-text-desktop {display: none;}

/* Page 4 */
#page-4 {
    display: none;
}
.page-4 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 7.6rem;
}
.p4-tl-card {
    display: flex;
    flex-direction: column;
}
.p4-br-header {grid-area: p4-br-header;}
.p4-br-left {grid-area: p4-br-left;}
.p4-br-right {grid-area: p4-br-right;}
.p4-br-button {grid-area: p4-br-button;}

.p4-br-card {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "p4-br-header p4-br-header"
    "p4-br-left p4-br-right"
    "p4-br-button p4-br-button";
}

/* Page 5 */
#page-5 {
    background-color: var(--clr-Gray100);
    display: none;
}

.page-5 {
    padding-inline: .75rem;
    padding-block: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.p5-card {
    width: 416px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 24px;
    padding-bottom: 24px;
    padding-top: 48px;
    padding-inline: 24px;
    flex-direction: column;
    border-radius: .5em;
}

.quotation-mark {
    z-index: 1;
    display: grid;
    place-items: center;
    width: 2.75em;
    aspect-ratio: 1;
    background-color: var(--clr-Primary);
    border-radius: .375em;
}

.albert-avatar {grid-area: albert-avatar;}
.albert-name {grid-area: albert-name;}
.albert-title {grid-area: albert-title;}
.fannie-avatar {grid-area: fannie-avatar;}
.fannie-name {grid-area: fannie-name;}
.fannie-title {grid-area: fannie-title;}

.fannie {
    display: grid;
    column-gap: 1em;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "fannie-avatar fannie-name"
    "fannie-avatar fannie-title";
}
.albert {
    display: grid;
    column-gap: 1em;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "albert-avatar albert-name"
    "albert-avatar albert-title";
}

.review-container {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 1.75rem 1rem minmax(19.5rem, auto);
}

#quotation-left {
    grid-column: 2;
    grid-row: 1 / 2;
}

#card-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#quotation-right {
    grid-column: 2;
    grid-row: 1 / 2;
}

#card-right {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.p6-header {
    grid-area: p6-header;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
}

.p6-contact {
    grid-area: p6-contact;
    display: flex;
    justify-content: center;

    .contact-phone {
        display: none;
    }
    
    .contact-text {
        display: none;
    }
    
    .contact-mobile {
        display: flex;
    }
}

.p6-faq-cont {
    grid-area: p6-faq-cont;
    display: flex;
    flex-direction: column;
    border-radius: .5em;

    .faq-1-closed {
        display: none;
    }

    .faq-3-opened {
        display: none;
    }
}

.page-6 {
    padding-top: 3.25rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: auto;
    grid-template-areas:
    "p6-header"
    "p6-faq-cont"
    "p6-contact"
    "newsletter";
}

.faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-open {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newsletter {
    background-color: var(--clr-Gray100);
    grid-area: newsletter;
    display: grid;
    align-items: center;
    grid-template-rows: auto auto;
    gap: 2.4rem;
    padding-inline: 1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: .5em;
}

.newsletter-header {
    display: block;
}

.newsletter-header-desktop {
    display: none;
}

.newsletter-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-label {
    display: none;
    margin-bottom: .2rem;
}

.form {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.newsletter-icon {
    position: absolute;
    left: .8em;
    top: 50%;
    transform: translateY(-50%);
}

.form-input {
    width: 100%;
    background-color: var(--clr-White);
    font-size: 1rem;
    color: var(--clr-Gray500);
    font-weight: var(--font-weight-Regular);
    padding: 1em;
    padding-left: 2.8em;
    border-radius: .5em 0 0 .5em;
    border: 1px solid #aeaeae;

    &::placeholder {
        color: var(--clr-Gray500);
    }

    &:focus {
        outline: none;
        box-shadow: var(--dropshadow-primary);
    }

    &:focus ~ .btn-submit {
        box-shadow: var(--dropshadow-primary);
    }
}

footer {
    background-color: var(--clr-hero-bg);
}

.copyright {
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Mobile only */
@media (width < 768px) {
    .border-faq-cont {
        border: 1px solid var(--clr-GraySp-7);
        padding-inline: 1.5rem;
        background-color: var(--clr-mb-faq-bg);
    }

    .faq-1-opened {
        padding-block: 1rem;
    }

    .faq-divider-top {
        border-radius: 0;
        border-top: 1px solid var(--clr-GraySp-7);
        padding-block: 1rem;
    }
}

/*Tablet version*/
@media (width >= 768px) {

    .container {
        max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    nav {
        gap: 3.7rem;
    }

    .page-1 {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "p1-headline p1-headline"
        "p1-content p1-images";
        padding-bottom: 0;
    }

    .p1-headline {
        padding-top: 2rem;
        max-width: 60%;
    }
    
    .p1-content {
        padding-top: 80px;
        max-width: 650px;
        padding-bottom: 3rem;
        gap: 2.2rem;
        justify-items: left;

        .app-buttons{
            flex-direction: row;
        }
        .p1-paragraph {
            text-align: left;
            width: 80%;
        }
    }

    .p1-images {
        display: block;
    }

    .page-2 {
        padding-top: 0;
    }

    .p2-logos {
        padding-top: 3rem;
        padding-bottom: 4rem;
        display: flex;
        justify-content: space-between;
    }

    .p2-app-features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "app-features-header app-features-header"
        "af-1 af-2"
        "af-3 af-4"
        "af-5 af-6";
        gap: 2.5rem;
    }

    .p3-img1 {display: none;}
    .p3-img5 {display: grid;}
    .p3-img6 {display: grid;}
    .p3-img7 {display: grid;}

    .page-3 {
        padding-bottom: 4.5rem;
    }
    .p3-images {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
        "p3-img5 p3-img7 p3-img6";
    }
    .p3-text-mobile {
        display: none;
    }
    .p3-text-tablet {
        display: block;
    }

    .p6-header {
        h3 {
            width: 65%;
        }
        p {
            width: 70%;
        }
    }
    .p6-contact {
        grid-area: p6-contact;
        display: flex;
        justify-content:flex-start;
        gap: 1rem;
    
        .contact-phone {
            display: block;
        }
        
        .contact-text {
            display: block;
        }
        
        .contact-mobile {
            display: none;
        }
    }
    .border-contact {
        width: 100%;
    }
    .p6-contact {
        .btn-properties {
            padding-inline: 0;
        }
    }
    .p6-faq-cont {
        gap: 1rem;

        .faq-1-closed {display: flex;}
        .faq-1-opened {display: none;}
        .faq-3-closed {display: none;}
        .faq-3-opened {display: flex;}
    }

    .faq-bg {
        background-color: var(--clr-SpWhite);
    }

    .border-faq {
        padding-block: 1rem;
        padding-inline: 1.5rem;
        display: flex;
        box-shadow: var(--dropshadow-primary);
    }

    .newsletter {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-inline: 1.5rem;
        padding-block: 4.5rem;
        gap: 0;
    }

    .copyright {
        padding-bottom: 1.25rem;
        padding-top: 1.625rem;
        .row-break {
            display: none;
        }
    }
}

/*Desktop version*/
@media (width >= 1400px) {
    .container {
        max-width: 1320px;
    }
    .nav-features {
        display: block;
    }
    .nav-mobile-btn {
        display: none;
    }
    .nav-sign-in {
        display: flex;
    }
    nav {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto auto;
        gap: 1.5rem;
        padding-block: var(--container-padding);
    }

header {
    border: 1px solid black;
}
    .page-1 {
        gap: .5rem;
        padding-top: 112px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "p1-headline p1-images"
        "p1-content p1-images";
        padding-bottom: 0;
        place-items: left;
    }

    .p1-headline {
        padding-top: 3rem;
        max-width: 650px;

        h1{
            text-align: left;
            width: 80%;
        }
    }
    
    .p1-content {
        max-width: 650px;
        padding-top: 0;
        gap: 2.5rem;
        grid-template-rows: auto auto 1fr;

        .p1-paragraph {
            width: 70%;
        }
        .discover-more {
            align-self: end;
        }
    }

    .p1-images {
        min-height: 680px;

        .phone-shadow {
            height: auto;
            right: 75px;
        }
        .phone-behind{
            height: 548px;
            width: 402px;
            right: -85px;
        }
        .phone-front{
            width: 402px;
            height: 688px;
            right: -315px;
        }
    }

    .p2-logos {
        padding-block: 6rem;
        display: flex;
        justify-content: space-between;

        .border-logoipsum {
            width: 196px;
            height: 100px;
        }
        .logo-5 {
            display: grid;
        }
        .logo-6 {
            display: grid;
        }
    }
    .p2-card {
        display: flex;
        gap: 10rem;
    }
    .p2-phone {
        display: block;
    }
    .p2-app-features {
        gap: 3rem;

        .app-features {
            row-gap: 0rem;
        }
    }

    .p3-img2 {display: grid;}
    .p3-img3 {display: grid;}
    .p3-img4 {display: grid;}
    .p3-img5 {display: none;}
    .p3-img6 {display: none;}
    .p3-img7 {display: none;}

    .page-3 {
        padding-bottom: 4.5rem;
    }
    .p3-images {
        gap: 5rem;
        grid-template-areas:
        "p3-img3 p3-img2 p3-img4";
    }

    .p3-text-desktop {
        display: block;
    }

    .p3-text-tablet {
        display: none;
    }

    #page-4 {
        display: block;
    }

    #page-5 {
        display: block;
    }

    .page-6 {
        padding-top: 8.25rem;
        display: grid;
        column-gap: 7rem;
        place-content: left;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "p6-header p6-faq-cont"
        "p6-contact p6-faq-cont"
        "newsletter newsletter";
    }

    .p6-header {
        h3 {
            width: 100%;
        }
        p {
            width: 100%;
        }
        text-align: left;
    }

    .border-contact {
        width: 12.25rem;
    }

    .p6-faq-cont {
        gap: 1rem;
    }

    .newsletter-header {
        display: none;
    }
    
    .newsletter-header-desktop {
        display: block;
    }

    .newsletter {
        gap: 3.2rem;
        margin-top: 4.25rem;
        padding-inline: 7rem;
    }

    .form-input {
        background-color: var(--clr-SpWhite);
    }

    .copyright {
        padding-bottom: 3.5rem;
        padding-top: 3.75rem;
    }
}