@mixin mobile {
    @media  (width < 768px) {
        @content
    }
}

@mixin tablet {
    @media  (width >= 768px) {
        @content
    }
}

@mixin desktop {
    @media  (width >= 1400px) {
        @content
    }
}