.fs-1 {
    @include text-small-regular;
    color: $GraySp-11;
    
    @include desktop {
        color: $GraySp-3;
    }
}

.fs-2 {
    @include text-small-regular;
    color: $GraySp-9;
    line-height: 1.5;
    
    @include tablet {
        color: $GraySp-10;
    }
}

.fs-3 {
    @include text-small-regular;
    color: $GraySp-6;
    
    @include desktop {
        color: $GraySp-10;
    }
}

.fs-4 {
    @include text-small-regular;
    color: $GraySp-9;
}

.fs-5 {
    @include text-small-semibold;
    color: $White;
}

.fs-6 {
    @include text-small-semibold;
    color: $Primary;
    @include color-adjustments-text($Primary);
}

.fs-7 {
    @include text-small-semibold;
    color: $Success;
    @include color-adjustments-text($Success);
}

.fs-8 {
    @include text-medium-regular;
    color: $GraySp-1;
    
    @include desktop {
        color: $Gray700;
    }
}

.fs-9 {
    @include text-medium-regular;
    color: $GraySp-1;
    
    @include desktop {
        color: $GraySp-10;
    }
}

.fs-10 {
    @include text-medium-regular;
    color: $GraySp-9;

    @include desktop {
        color: $GraySp-10;
    }
}

.fs-11 {
    @include text-medium-semibold;
    color: $GraySp-2;
    
    @include tablet {
        color: $Gray900;
    }
}

.fs-12 {
    @include text-medium-semibold;
    color: $dm-label;
    
    @include desktop {
        color: $dm-label-dt;
    }
}

.fs-13 {
    @include text-medium-semibold;
    color: $Gray800;
    
    &:hover {
        color: $Primary;
    }
}

.fs-14 {
    @include text-medium-bold;
    color: $Gray900;
}

.fs-15 {
    @include text-large;
    color: $GraySp-10;
}

.fs-16 {
    @include text-large;
    color: $GraySp-9;
    
    @include desktop {
        color: $Gray600;
    }
}

.fs-17 {
    @include text-large;
    color: $GraySp-1;

    @include tablet {
        color: $GraySp-6;
    }

    @include desktop {
        color: $GraySp-10;
    }
}

.fs-18 {
    @include text-large;
    color: $GraySp-8;

    @include tablet {
        color: $GraySp-1;
    }

    @include desktop {
        color: $GraySp-10;
    }
}