@import "./section-6-header";
@import "./section-6-faq-container";
@import "./section-6-contact";
@import "./section-6-newsletter";

.section-6 {
    padding-top: 3.25rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: auto;
    grid-template-areas:
    "p6-header"
    "p6-faq-cont"
    "p6-contact"
    "newsletter";

    @include desktop {
        padding-top: 8.25rem;
        display: grid;
        column-gap: 7rem;
        place-content: left;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "p6-header p6-faq-cont"
        "p6-contact p6-faq-cont"
        "newsletter newsletter";
    }
}