.p6-header {
    grid-area: p6-header;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;

    @include tablet {
        h3 {
            width: 65%;
        }
        p {
            width: 70%;
        }
    }

    @include desktop {
        h3 {
            width: 100%;
        }
        p {
            width: 100%;
        }
        text-align: left;
    }
}