@import "./section-6-newsletter-text";
@import "./section-6-newsletter-form";

.newsletter {
    background-color: var(--clr-Gray100);
    grid-area: newsletter;
    display: grid;
    align-items: center;
    grid-template-rows: auto auto;
    gap: 2.4rem;
    padding-inline: 1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: .5em;

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-inline: 1.5rem;
        padding-block: 4.5rem;
        gap: 0;
    }

    @include desktop {
        gap: 3.2rem;
        margin-top: 4.25rem;
        padding-inline: 7rem;
    }
}