@import "./section-1-headline";
@import "./section-1-content";
@import "./section-1-images";

.section-1 {
    display: grid;
    grid-template-areas:
    "s1-headline"
    "s1-content";
    gap: 2.5rem;
    padding-bottom: 3rem;

    @include tablet {
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "s1-headline s1-headline"
        "s1-content s1-images";
        padding-bottom: 0;
    }

    @include desktop {
        gap: .5rem;
        padding-top: 112px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "s1-headline s1-images"
        "s1-content s1-images";
        padding-bottom: 0;
        place-items: left;
    }
}