:root {
    --clr-Gray100: #{$Gray100-light};
    --clr-Gray100-active: #{$Gray100-light-active};
    --clr-Gray100-hover: #{$Gray100-light-hover};
    --clr-Gray500: #{$Gray500-light};
    --clr-Gray600: #{$Gray600-light};
    --clr-Gray700: #{$Gray700-light};
    --clr-Gray800: #{$Gray800-light};
    --clr-Gray900: #{$Gray900-light};
    --clr-SpWhite: #{$SpWhite-light};
    --clr-SpWhite-active: #{$SpWhite-light-active};
    --clr-SpWhite-hover: #{$SpWhite-light-hover};
    --clr-dm-label: #{$dm-label-light};
    --clr-GraySp-2: #{$GraySp-2-light};
    --clr-GraySp-3: #{$GraySp-3-light};
    --clr-GraySp-4: #{$GraySp-4-light};
    --clr-GraySp-4-active: #{$GraySp-4-light-active};
    --clr-GraySp-4-hover: #{$GraySp-4-light-hover};
    --clr-GraySp-5: #{$GraySp-5-light};
    --clr-GraySp-5-active: #{$GraySp-5-light-active};
    --clr-GraySp-5-hover: #{$GraySp-5-light-hover};
    --clr-GraySp-7: #{$GraySp-7-light};
    --clr-GraySp-8: #{$GraySp-8-light};
    --clr-GraySp-9: #{$GraySp-9-light};
    --clr-GraySp-10: #{$GraySp-10-light};
    --clr-bg: #{$bg-light};
    --clr-mb-faq-bg: #{$mb-faq-bg-light};
}