.dark {
    color-scheme: dark;

    --clr-Gray100: #ffffff0a;
    --clr-Gray500: #ffffff66;
    --clr-Gray600: #ffffff80;
    --clr-Gray700: #ffffff;
    --clr-Gray800: #ffffffd9;
    --clr-Gray900: #ffffff;
    --clr-SpWhite: #ffffff0a;
    --clr-dm-label: #565973;
    --clr-GraySp-2: #ffffff;
    --clr-GraySp-3: #ffffff80;
    --clr-GraySp-4: #eff2fC;
    --clr-GraySp-5: #f3f6ff;
    --clr-GraySp-7: #ffffff26;
    --clr-GraySp-8: #ffffff;
    --clr-GraySp-9: #ffffffb3;
    --clr-GraySp-10: #ffffffb3;
    --clr-bg: #0B0f19;
    --clr-mb-faq-bg: #131022;

    .silicon-icon {
        content: url(images/dm-Silicon-logotype.svg);}
    .appstore-icon {
        content: url(images/dm-appstore.svg);}
    .googleplay-icon {
        content: url(images/dm-googleplay.svg);}
    .show-more-icon {
        content: url(images/dm-show-more-icon.svg);}
    .next-icon {
        content: url(images/dm-next-btn.svg);}
    .mobile-icon {
        content: url(images/dm-mobile-menu-button.svg);}
}