.dark {
    color-scheme: dark;

    $Gray100: #ffffff0a;
    $Gray500: #ffffff66;
    $Gray600: #ffffff80;
    $Gray700: #ffffff;
    $Gray800: #ffffffd9;
    $Gray900: #ffffff;
    $SpWhite: #ffffff0a;
    $dm-label: #565973;
    $GraySp-2: #ffffff;
    $GraySp-3: #ffffff80;
    $GraySp-4: #eff2fC;
    $GraySp-5: #f3f6ff;
    $GraySp-7: #ffffff26;
    $GraySp-8: #ffffff;
    $GraySp-9: #ffffffb3;
    $GraySp-10: #ffffffb3;
    $bg: #0B0f19;
    $mb-faq-bg: #131022;

    .silicon-icon {
        content: url(/images/dm-Silicon-logotype.svg);}
    .appstore-icon {
        content: url(/images/dm-appstore.svg);}
    .googleplay-icon {
        content: url(/images/dm-googleplay.svg);}
    .show-more-icon {
        content: url(/images/dm-show-more-icon.svg);}
    .next-icon {
        content: url(/images/dm-next-btn.svg);}
    .mobile-icon {
        content: url(/images/dm-mobile-menu-button.svg);}
}